*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header styling */
header{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 150px 20px 0;
}

header .logo{
    font-size:18px ;
}

nav{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

nav ul{
  display: flex;
  align-items: center;
  column-gap: 80px;
  border-right: 1px solid grey;
  font-size: 22px; 
  line-height: 28px;
  padding: 5px 50px 5px 0;
}

nav ul li{
    list-style: none;
}

nav .right-contact{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav .right-contact .right-contact-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    opacity: 70%;
} 

nav .right-contact .right-contact-text h6
{
    font-size: 18px;
    line-height: 31.5px;
    font-weight: 600;
} 

/* main styling */

main{
    width: 75%;
    height: 91vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container{
    width: 100%;
    height: 75%;
    display: flex;
}

/* Left container styling */
main .container .left-text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container .left-text .content{
    width: 93%;
    height: 70%;
}

main .container .left-text .content h1{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    line-height: 124px;
    padding-top: 25px;
}

button{
    margin-top: 35px;
    width: 310px;
    height: 76px;
    border-radius: 14px;
    font-size: 24px;
    background-color: #FF6433;
    border: 1px solid #FF6433;
    color: white;
}

main .container .left-text .content-time{
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding-top: 60px;
}

main .container .left-text .content-time-text h6{
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    color: #939191;
}
main .container .left-text .content-time-text h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.5px;
    color: #1E1B1B;
    letter-spacing: 3.5px;
}
 
/* Right Image Styling */
main .container .right-image{
    width: 50%;
    height: 100%;
    background-image: url("../img/Image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 150px 90px 0; 
}

main .container .right-image .service{
    position: absolute;
    left: -25%;
    top: 1%;
    width: 110%;
}

main .container .right-image .ratings{
    position: absolute;
    right: -48%;
    bottom: -12%;
    width: 120%;
}

