/* google styling */
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


/* header styling */
header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 0; 
    position: fixed;
    right: 10%;
    background-color: white;
    z-index: 50;
}

header .logo {
    font-size:15px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 30px; 
}

nav ul {
  display: flex;
  align-items: center;
  column-gap: 90px;
  border-right: 1px solid gray;
  padding: 5px 30px 5px 0px ; 
  font-size: 16px; 
  line-height: 24px;
}

nav ul li {
    list-style: none;
}

nav .right-contact  {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav .right-contact .right-contact-icon {
    background-color: #5cba99;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right-contact .right-contact-icon:hover {
    background-color: #FF6433;
    transition: 0.5s;
}

nav .right-contact .right-contact-text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    opacity: 70%;
} 

nav .right-contact .right-contact-text h6 {
    font-size: 18px;
    line-height: 31.5px;
    font-weight: 600;
} 

/* global styling */
.parent-flex {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.container {
    width: 80%;
    height: 80%;
    display: flex;
} 

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.btn {
    margin-top: 15px;
    width: 220px;
    height: 70px;
    border-radius: 14px;
    font-size: 18px;
    line-height: 31.5px;
    background-color: #FF6433;
    border: 1px solid #FF6433;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.7s;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #5cba99;
    border-radius: 50px;
    border: 1px solid #5cba99;
}

.service-feature {
    display: flex;
    column-gap: 15px;
    margin-bottom: 45px;
}

/* end of global styling */

/* main styling */
main .container .left-text .content {
    width: 92%;
    height: 65%;
}

main .container .left-text .content h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    padding: 10px 0 30px 0;
}

main .container .left-text .content-time {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-top: 40px;
}

main .container .left-text .content-time-text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #939191;
}

main .container .left-text .content-time-text h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 31.5px;
    color: #1E1B1B;
}
 
/* Right Image Styling */
main .container .right-image {
    background-image: url("../img/Image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 20px 0 20px;
}

main .container .right-image .service {
    background-color: rgb(255, 255, 255, 0.633);
    width: 350px;
    height: 110px;
    border-radius: 50px;
    margin-left: 41%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -44%;
    top: 17%;
}

.inside {
    width: 90%;
    height: 85%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px; 
    padding: 2px 0 2px 6px; 
}
  
.inside .left {
    height: 90%;
    width: 30%;
    border-radius: 50px;
    background-color: #5cba99;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
  
.inside p {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
  
main .container .right-image .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -18%;
    bottom: -10%;
}

/* car servicing section */
#car-servicing {
    background-color: #e2e6e9;
}
 
#car-servicing .container .left h2 {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    position: relative;
    top: -4%;
    padding: 15px; 
}

#car-servicing .container .left h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    padding-bottom: 15px;   
}

#car-servicing .container .info {
     display: flex;
     align-items: center;
     column-gap: 20px ;
     padding-top: 30px;
}    

 
#car-servicing .container .right h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 67.2px;
    position: relative;
    top: -6%; 
}

.form-input{
    margin-bottom: 25px;
}

input {
    height: 72px;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding-left: 46px;
}

#car-servicing .right .quote-form button{
    margin-bottom: 80px;
}

/* get a quote styling */

#get-a-quote .container .left h2 {
    font-size: 68px;
    font-weight: 800;
    line-height: 76px;
    text-align: left; 
}

.quote-feature  {
    display: flex;
    align-items: center;
    column-gap: 30px;
    line-height: 45px;
    margin-left: 50px; 
}  

#get-a-quote .container .right h4 {
    font-size: 32px; 
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 110px;      

}   

#get-a-quote .container .right p {
    border-left: 2px dashed  #FF6433; 
    font-size: 18px;
    font-weight: 600;
    line-height: 31.5px;
    padding: 20px;
}

/* what we offer styling */
#what-we-offer {
     background-color: #F2F2F2;
}

#what-we-offer h4 {
    font-size: 58px;
    line-height: 76px;
    font-weight: 800;
    padding-bottom: 20px;
}

#what-we-offer .boxes {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#what-we-offer .boxes .parent-row {
    width: 100%;
    height: 70%;
}

#what-we-offer .boxes .row-1 {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;
    
}

#what-we-offer .boxes .row-2 {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;
}

.card {
    width: 25%;
    height: 98%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none; 
    gap: 5px;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
    padding-top: 20px;
}

/* get-in-touch styling */
#get-in-touch {
    height: 75vh;
    width: 100%;
}

#get-in-touch .first-row {
    height: 75%;
    width: 100%;
    display: flex;
}

#get-in-touch .first-row .left-car{
    width: 50%;
    height: 100%;
    background-image: url("../img/car1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}  

#get-in-touch .first-row .left-car .left-car-card{
    width: 70%;
    height: 100%;
    background-color: #FF6433;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}

#get-in-touch .first-row .left-car .left-car-card h1 {
    font-size: 48px;
    line-height: 67.2px;
    font-weight: 700;
    color: white;
}

#get-in-touch .first-row .right-car {
    width: 50%;
    height: 100%;background-image: url("../img/car2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#get-in-touch .second-row {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: #F2F2F2;
} 

#get-in-touch .second-row .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#get-in-touch .second-row h1 {
    color: #661CE7
}

#get-in-touch .btn {
    background-color: #1E1B1B;
    border: none;
}







 











